.App {
    font-family: sans-serif;
    text-align: center;
  }

.header-container,
.footer-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: fixed;
    left: 0;
    right: 0;
    min-height: 40px;
    z-index: 10;
  }
  
.header-container {
      top: 0;
    }
    
.footer-container {
      bottom: 0;
    }

    .header-container .camera-button{
        padding: 8px;
    }
    .header-container .message-button{
        padding: 8px;
    }
  
.header-container .logo,
.footer-container .logo {
    width: 103px;
    height: 29px;
  }
  
.stories {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    overflow-y: hidden;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
.stories .story {
    padding: 5px;
  }
.stories .story .photo-container {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  } 
  
.stories .story .photo-container img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
.stories .story .username {
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
  }
